<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" media="screen" href="http://feeds.feedburner.com/~d/styles/itemcontent.css"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
{namespace snippetHelper=Tx_In2snippets_ViewHelpers}
	<channel>
		<title>{settings.rss.title}</title>
		<link>{settings.rss.baseurl}</link>
		<description>{settings.rss.description}</description>
		<language>{settings.rss.language}</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
		<f:if condition="{storagePid}">
			<f:then>
				<f:for each="{snippets}" as="snippet">
					<f:if condition="{snippet.title}">
						<item>
							<title><snippetHelper:HtmlSpecialCharsEncode string2encode="{snippet.title}" /></title>
							<link><snippetHelper:CdataWrap string2wrap="{snippet -> f:cObject(typoscriptObjectPath:'lib.rssLink')}" /></link>
							<pubDate><snippetHelper:RssDateFormat date2format="{snippet.crdate}" /></pubDate>
							<description><snippetHelper:CdataWrap string2wrap="{snippet.description}" /></description>
						</item>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<item>
					<title><f:flashMessages /></title>
				</item>
			</f:else>
		</f:if>
	</channel>
</rss>